{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center">
    {% if app.user %}
    <a id="margin-10" href="{{ path('profile', { 'id': app.user.id }) }}"><button class="btn btn-success">Mes
            fichiers</button></a>
    {% else %}
    <a id="margin-10" href="login"><button class="btn btn-primary">connexion</button></a>
    {% endif %}
</div>

{% endblock %}