{% extends 'base.html.twig' %}

{% block title %}Edit UserDocument{% endblock %}

{% block body %}
    <h1>Edit UserDocument</h1>

    {{ include('user_document/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_document_index') }}">back to list</a>

    {{ include('user_document/_delete_form.html.twig') }}
{% endblock %}
