.margin{
    margin-top: 3%;
}

.custom-file-label::before{
    content: "choisir un fichier";
}

.custom-file-label::after{
    content: "chercher";
}

ul{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}

#margin-10{
    margin-top: 10%;
}

.container-button{
    display: block;
}

.trash{
    display: contents;
    color: rgb(240, 63, 63);
}

table{
    text-align: center;
    margin-top: 50px;
}



